<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{chapter.title}}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://docs.dochub.co/css/doc.css ">

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

</head>
<body>

  <nav id="menu" class="dochub__nav" role="navigation">

    <div class="dochub__nav-logo">
      <img src="https://docs.dochub.co/images/dochub-logo.png" alt="Dochub logo">
    </div>

    <ul class="dochub__nav-list">

        {{#each links}}
          <li class="dochub__nav-item">
            <a href="http://{{this.href}}" class="dochub__nav-link">{{this.title}}</a>
          </li>
        {{/each}}

    </ul>

  </nav>


  <div class="container wrap push">

    <div class="dochub__document-header clearifx">

      <a href="#menu" class="menu-link">&#9776;</a>
      <span class="document__title">{{chapter.title}}</span>

      <div class="pull-right">
        <span class="chapter__title">{{doc.title}}</span>
        <!-- <span>{{chapter.updated}}</span> -->
      </div>

    </div>

    <a href="https://app.dochub.co/#/documents/{{doc._id}}/chapters/{{chapter._id}}/pullrequest" target="_blank" class="btn btn-default">Suggest a change</a>

    <div class="dochub__document-body">
      {{{chapter.content.html}}}
    </div>


  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://docs.dochub.co/js/bigSlide.min.js"></script>
    <script>
        $(document).ready(function() {


            $('.menu-link').bigSlide({
              easyClose: true
            });

            $('pre code').each(function(i, block) {
              hljs.highlightBlock(block);
            });


        });
    </script>

</body>
</html>
