<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
</head>
<body>
  <h1>Document page</h1>

  {{#unless chapter.pullrequest.set}}
    <a href="/app#/documents/{{docid}}/chapters/{{chapter._id}}/pullrequest" target="_blank">Make Pull request</a>
  {{/unless}}

  {{{chapter.content.html}}}

  {{#each links}}
    <a href="{{this.href}}">{{this.title}}</a>
  {{/each}}

</body>
</html>
